---
import '../styles/main.scss';
import { title } from '../config';
import Footer from '../components/Footer.astro';
const desc = "All technical engineering software development questions have answers.";
---
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#404445">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">

    <!-- HTML Meta Tags -->
    <title>{title}</title>
    <meta name="description" content={desc}>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={Astro.site}>
    <meta property="og:type" content="website">
    <meta property="og:title" content={title}>
    <meta property="og:description" content={desc}>
    <meta property="og:image" content={Astro.site + "/og.png"}>
    <meta property="og:site_name" content="IT depends">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="it-depends.dev">
    <meta property="twitter:url" content={Astro.site}>
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content={desc}>
    <meta name="twitter:image" content={Astro.site + "/og.png"}>

</head>
<body>
<slot/>
<Footer/>
</body>
</html>
